meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title=page.title ? page.title + ' | ' + config.title : config.title

meta(name="baidu-site-verification", content="codeva-P9jyH0b1lv")
meta(name='description', content=page.intro ? page.intro : config.meta_description)
meta(name='generator', content=config.title)
meta(name='keywords', content=config.keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')

link(rel='stylesheet', type='text/css', href=config.root + 'styles/screen.css')

link(rel='apple-touch-icon', sizes='57x57', href='/images/apple-touch-icon-57x57.jpg')
link(rel='apple-touch-icon', sizes='60x60', href='/images/apple-touch-icon-60x60.jpg')
link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.jpg')
link(rel='apple-touch-icon', sizes='76x76', href='/images/apple-touch-icon-76x76.jpg')
link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.jpg')
link(rel='apple-touch-icon', sizes='120x120', href='/images/apple-touch-icon-120x120.jpg')
link(rel='apple-touch-icon', sizes='144x144', href='/images/apple-touch-icon-144x144.jpg')
link(rel='apple-touch-icon', sizes='152x152', href='/images/apple-touch-icon-152x152.jpg')
link(rel='apple-touch-icon', sizes='196x196', href='/images/apple-touch-icon-196x196.jpg')
link(rel='apple-touch-icon', sizes='310x310', href='/images/apple-touch-icon-310x310.jpg')

link(href='/images/splash/iphone5_splash.png' media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/iphone6_splash.png' media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/iphoneplus_splash.png' media='(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')
link(href='/images/splash/iphonex_splash.png' media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')
link(href='/images/splash/iphonexr_splash.png' media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/iphonexsmax_splash.png' media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')
link(href='/images/splash/ipad_splash.png' media='(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/ipadpro1_splash.png' media='(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/ipadpro3_splash.png' media='(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/images/splash/ipadpro2_splash.png' media='(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')

link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon-16x16.png')
link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='128x128', href='/images/favicon-128.png')
link(rel='icon', type='image/png', sizes='196x196', href='/images/favicon-196x196.png')

meta(name='msapplication-TileColor' content='#FFFFFF')
meta(name='msapplication-TileImage' content='mstile-144x144.png')
meta(name='msapplication-square70x70logo' content='mstile-70x70.png')
meta(name='msapplication-square150x150logo' content='mstile-150x150.png')
meta(name='msapplication-wide310x150logo' content='mstile-310x150.png')
meta(name='msapplication-square310x310logo' content='mstile-310x310.png')
meta(name='msapplication-square310x310logo' content='mstile-310x310.png')


if config.pwa
   link(rel='manifest', href='/manifest.webmanifest')
if config.rss
   link(rel='alternate', type='application/rss+xml', title='RSS', href=config.rss)
if config.feed && config.feed.type =='rss'
  link(rel='alternate', type='application/rss+xml', title='RSS', href=config.feed.path)
if config.feed && config.feed.type =='atom'
  link(rel='alternate', type='application/atom+xml', title='Atom 0.3', href=config.feed.path)
  