script(src=config.root + 'scripts/index.js', type='text/javascript')
if config.disqus_shortname && !is_page()
  - var disqus_type = page.comments ? 'embed' : 'count'
  script(async).
    (function(h,g,l,k,j,i){j=h.createElement(g),i=h.getElementsByTagName(g)[0],
    j.src = '//' + l + '.disqus.com/' + k + '.js', i.parentNode.insertBefore(j, i)})
    (document,'script','#{config.disqus_shortname}','#{disqus_type}');

  script(async).
    var disqus_shortname = '#{config.disqus_shortname}';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());

if theme.google_analytics 
  script(src='https://www.googletagmanager.com/gtag/js?id=UA-135435065-1', type='text/javascript', async)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135435065-1');